.header{
    background-color: rgb(244, 244, 244);
    padding: 10px;
}
.header .logo{
    width: 10%;
    margin-right: 20px;
}
.header .time{
    position: relative;
    bottom: 50px;
    left: 10px;
    color: #fff;
    background-color: var(--accent);
    width: 8%;
}
.location{
    position: relative;
    bottom: 50px;
    left: 10px;
    width: 8%;
}
.somedetails{
    position: relative;
    bottom: 40px;
    color: #808080;
}
.apply a{
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
}
.apply .now{
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
}
.details{
    background-color: rgb(244, 244, 244);
}
.skill{
    background-color: rgb(244, 244, 244);
}
.tools p{
    border-radius: 9%;
    background-color: #dcdcdc;
    padding: 10px;
    margin-inline: 8px;
}
.description{
    background-color: rgb(244, 244, 244);

}
.description p{
    font-family: "Montserrat", sans-serif;
}