<div class="container content">
    <div class="row signup justify-content-center align-items-center">
        <div class="col-lg-7 image">
            <img class="w-75" src="./assets/Img/undraw_career-progress_vfq5.svg" alt="">
        </div>
        <section class="col-lg-5 border rounded-3 py-2 inputs text-center">
            <h3 class="mt-3 text-center">SignUp</h3>
            <h5 class="text-start my-3">Personal Information</h5>
            
            <form (ngSubmit)="saveFormToLocalStorage()" [formGroup] = "SignupForm">
                <div class="my-3 text-start">
                    <label for="firstname">First Name</label>
                    <input formControlName = "firstName" type="text" id="firstname" class="rounded-2 form-control w-100 my-2">
                    @if (SignupForm.get('firstName')?.errors && SignupForm.get('firstName')?.touched) {
                        <div class="alert alert-danger">
                            @if (SignupForm.get('firstName')?.getError('required')) {
                                <p class="m-0">First Name Is Required</p>
                            }
                            @else if (SignupForm.get('firstName')?.getError('minlength')) {
                                <p class="m-0">First Name Should Be More Than Or Equal 3 Chars</p>
                            }
                            @else if (SignupForm.get('firstName')?.getError('maxlength'))
                            {
                                    <p class="m-0">First Name Should Be less Than Or Equal 10 Chars</p>
                                
                            }
                        </div>
                    }
                </div>
                <div class="my-3 text-start">
                    <label for="lastname">Last Name</label>
                    <input formControlName = "lastName" type="text" id="lastname" class="rounded-2 form-control w-100 my-2">
                    @if (SignupForm.get('lastName')?.errors && SignupForm.get('lastName')?.touched) {
                        <div class="alert alert-danger">
                            @if (SignupForm.get('lastName')?.getError('required')) {
                                <p class="m-0">Last Name Is Required</p>
                            }
                            @else if (SignupForm.get('lastName')?.getError('minlength')) {
                                <p class="m-0">Last Name Should Be More Than Or Equal 3 Chars</p>
                            }
                            @else if (SignupForm.get('lastName')?.getError('maxlength'))
                            {
                                    <p class="m-0">Last Name Should Be less Than Or Equal 10 Chars</p>
                                
                            }
                        </div>
                    }
                </div>
                <div class="my-3 text-start">
                    <label for="email">Email</label>
                    <input formControlName = "email" type="email" id="email" class="rounded-2 form-control w-100 my-2">
                    @if (SignupForm.get('email')?.errors && SignupForm.get('email')?.touched) {
                        <div class="alert alert-danger mt-2">
                            @if (SignupForm.get('email')?.getError('required')) {
                                <p class="m-0">Email Is Required</p>
                            }
                            @else if (SignupForm.get('email')?.getError('email')) {
                                <p class="m-0">Email not Valid</p>
                                <p class="m-0">example&#64;xxxx.com</p>
                            }
                        </div>
                    }
                </div>
                <div class="my-3 text-start">
                <label for="educationLevel">Education Level</label>
                <select id="educationLevel" class="form-control rounded-2 w-100 my-2" formControlName="educationLevel">
                    <option value="" disabled selected>Select Education Level</option>
                    <option value="1">associate</option>
                    <option value="2">bachelor's</option>
                    <option value="3">master's</option>
                    <option value="4">doctoral</option>
                </select>
                <!-- Validation message -->
                @if (SignupForm.get('educationLevel')?.errors && SignupForm.get('educationLevel')?.touched) {
                    <div class="alert alert-danger mt-2">
                    @if (SignupForm.get('educationLevel')?.getError('required')) {
                        <p class="m-0">Education Level is required</p>
                    }
                    </div>
                }
                </div>

                <div class="my-3 text-start">
                    <label for="phonenumber">Phone Number</label>
                    <input formControlName = "phoneNumber" type="text" id="phonenumber" class="rounded-2 form-control w-100 my-2">
                    @if (SignupForm.get('phone Number')?.errors && SignupForm.get('phone Number')?.touched) {
                        <div class="alert alert-danger mt-2">
                            @if (SignupForm.get('phone Number')?.getError('required')) {
                                <p class="m-0">Phone Number Is Required</p>
                            }
                        </div>
                    }
                </div>
                <div class="my-3 text-start">
                    <label for="password">Password</label>
                    <input formControlName = "password" type="password" id="password" class="rounded-2 form-control w-100 my-2">
                    @if (SignupForm.get('password')?.errors && SignupForm.get('password')?.touched) {
                        <div class="alert alert-danger mt-2">
                            @if (SignupForm.get('password')?.getError('required')) {
                                <p class="m-0">Password Is Required</p>
                            }
                            @else if (SignupForm.get('password')?.getError('pattern')) {
                                <p class="m-0">Password At least one uppercase letter (A-Z)

                                    At least one lowercase letter (a-z)<br>

                                    At least one digit (0-9)<br>

                                    At least one special character (e.g.,&#64;!#$%^&*)<br>

                                    Minimum 8 characters (or 6 if you prefer)</p>

                            }
                        </div>
                    }
                </div>
                <p class="text-center">Already Have an Account ? <a routerLink="../login">Log in</a></p>
                <button routerLink="../skillsAndTools" [disabled]="SignupForm.invalid" type="submit" class="btn w-75 mb-3">Sign Up</button>
            </form>
        </section>
    </div>
</div>